obj/FirstOOPProject.csproj.nuget.dgspec.json
obj/FirstOOPProject.csproj.nuget.g.props
obj/FirstOOPProject.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/FirstOOPProject.AssemblyInfo.cs
obj/Debug/net8.0/FirstOOPProject.AssemblyInfoInputs.cache
obj/Debug/net8.0/FirstOOPProject.assets.cache
obj/Debug/net8.0/FirstOOPProject.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/FirstOOPProject.GlobalUsings.g.cs
bin/Debug/net8.0/FirstOOPProject.deps.json
bin/Debug/net8.0/FirstOOPProject.dll
bin/Debug/net8.0/FirstOOPProject.exe
bin/Debug/net8.0/FirstOOPProject.pdb
bin/Debug/net8.0/FirstOOPProject.runtimeconfig.json
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/FirstOOPProject.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/FirstOOPProject.csproj.FileListAbsolute.txt
obj/Debug/net8.0/FirstOOPProject.dll
obj/Debug/net8.0/FirstOOPProject.genruntimeconfig.cache
obj/Debug/net8.0/FirstOOPProject.pdb
obj/Debug/net8.0/FirstOOPProject.sourcelink.json
obj/Debug/net8.0/ref/FirstOOPProject.dll
obj/Debug/net8.0/refint/FirstOOPProject.dll
